@import "tailwindcss";

:root {
  --background: #f8fafc; /* soft white-blue */
  --foreground: #171717;

  /* Castpotro brand */
  --color-primary: #dd5391;
  --color-secondary: #6299df;

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
